<div class="container-fluid">
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Resistencia
    </button>
    <ul class="dropdown-menu w-100">
      <li><button class="dropdown-item" type="button">Física</button></li>
      <li><button class="dropdown-item" type="button">Mágica</button></li>
      <li><button class="dropdown-item" type="button">Psíquica</button></li>
      <li><button class="dropdown-item" type="button">Enfermedad</button></li>
      <li><button class="dropdown-item" type="button">Presencia</button></li>
    </ul>
  </div>
</div>
