<div class="container-fluid">
  <div class="card mb-4">
    <div class="card-header text-center">Controles Secundarias</div>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle w-100"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Atléticas
            </button>
            <ul class="dropdown-menu w-100">
              <li>
                <button class="dropdown-item" type="button">Acrobacias</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Atletismo</button>
              </li>
              <li><button class="dropdown-item" type="button">Montar</button></li>
              <li><button class="dropdown-item" type="button">Nadar</button></li>
              <li><button class="dropdown-item" type="button">Trepar</button></li>
              <li><button class="dropdown-item" type="button">Saltar</button></li>
            </ul>
          </div>
        </div>
        <div class="col-2">
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle w-100"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Vigor
            </button>
            <ul class="dropdown-menu w-100">
              <li><button class="dropdown-item" type="button">Frialdad</button></li>
              <li>
                <button class="dropdown-item" type="button">P. Fuerza</button>
              </li>
              <li><button class="dropdown-item" type="button">R. Dolor</button></li>
            </ul>
          </div>
        </div>
        <div class="col-2">
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle w-100"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Perceptivas
            </button>
            <ul class="dropdown-menu w-100">
              <li><button class="dropdown-item" type="button">Advertir</button></li>
              <li><button class="dropdown-item" type="button">Buscar</button></li>
              <li><button class="dropdown-item" type="button">Rastrear</button></li>
            </ul>
          </div>
        </div>
        <div class="col-2">
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle w-100"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Intelectuales
            </button>
            <ul class="dropdown-menu w-100">
              <li><button class="dropdown-item" type="button">Animales</button></li>
              <li><button class="dropdown-item" type="button">Ciencias</button></li>
              <li>
                <button class="dropdown-item" type="button">Herbolaria</button>
              </li>
              <li><button class="dropdown-item" type="button">Historia</button></li>
              <li><button class="dropdown-item" type="button">Medicina</button></li>
              <li>
                <button class="dropdown-item" type="button">Memorizar</button>
              </li>
              <li><button class="dropdown-item" type="button">Navegar</button></li>
              <li>
                <button class="dropdown-item" type="button">Ocultismo</button>
              </li>
              <li><button class="dropdown-item" type="button">Tasar</button></li>
              <li>
                <button class="dropdown-item" type="button">Valoración M.</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-2">
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle w-100"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Sociales
            </button>
            <ul class="dropdown-menu w-100">
              <li><button class="dropdown-item" type="button">Estilo</button></li>
              <li>
                <button class="dropdown-item" type="button">Intimidar</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Liderazgo</button>
              </li>
              <li>
                <button class="dropdown-item" type="button">Persuasión</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-2">
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle w-100"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Subterfugio
            </button>
            <ul class="dropdown-menu w-100">
              <li>
                <button class="dropdown-item" type="button">Cerrajería</button>
              </li>
              <li><button class="dropdown-item" type="button">Disfraz</button></li>
              <li>
                <button class="dropdown-item" type="button">Ocultarse</button>
              </li>
              <li><button class="dropdown-item" type="button">Sigilo</button></li>
              <li><button class="dropdown-item" type="button">Robo</button></li>
              <li>
                <button class="dropdown-item" type="button">Trampería</button>
              </li>
              <li><button class="dropdown-item" type="button">Venenos</button></li>
            </ul>
          </div>
        </div>
        <div class="col-2 mt-3">
          <div class="dropdown">
            <button
              class="btn btn-primary dropdown-toggle w-100"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Creativas
            </button>
            <ul class="dropdown-menu w-100">
              <li><button class="dropdown-item" type="button">Arte</button></li>
              <li><button class="dropdown-item" type="button">Baile</button></li>
              <li><button class="dropdown-item" type="button">Música</button></li>
              <li><button class="dropdown-item" type="button">Forja</button></li>
              <li><button class="dropdown-item" type="button">T. Manos</button></li>
            </ul>
          </div>
        </div>
    </div>
  </div>
