<div class="container-fluid">
  <form>
    <div class="row d-flex align-items-end">
      <div class="mb-3 col-2">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre"/>
      </div>
      <div class="mb-3 col-1">
        <label for="vida" class="form-label">Vida</label>
        <input type="text" class="form-control" id="vida" name="vida" [(ngModel)]="vida"/>
      </div>
      <div class="mb-3 col-1">
        <label for="vidaM" class="form-label">Vida Máxima</label>
        <input type="text" class="form-control" id="vidaM" name="vidaM" [(ngModel)]="vidaMaxima"/>
      </div>
      <div class="mb-3 col-1">
        <label for="mana" class="form-label">Mana</label>
        <input type="text" class="form-control" id="mana" name="mana" [(ngModel)]="mana"/>
      </div>
      <div class="mb-3 col-1">
        <label for="manaC" class="form-label">Mana Cargado</label>
        <input type="text" class="form-control" id="manaC" name="manaC" [(ngModel)]="manaCargado"/>
      </div>
      <div class="mb-3 col-1">
        <label for="manaM" class="form-label">Mana Máximo</label>
        <input type="text" class="form-control" id="manaM" name="manaM" [(ngModel)]="manaMaximo"/>
      </div>
      <div class="mb-3 col-1">
        <label for="cansancio" class="form-label">Cansancio</label>
        <input type="text" class="form-control" id="cansancio" name="cansancio" [(ngModel)]="cansancio"/>
      </div>
      <div class="mb-3 col-1">
        <label for="cansancioM" class="form-label">Cansancio Máximo</label>
        <input type="text" class="form-control" id="cansancioM" name="cansancioM" [(ngModel)]="cansancioMaximo"/>
      </div>
      <div class="mb-3 col-1">
        <label for="rf" class="form-label">R. Físico</label>
        <input type="text" class="form-control" id="rf" name="rf" [(ngModel)]="rfisico"/>
      </div>
      <div class="mb-3 col-1">
        <label for="rm" class="form-label">R. Mágico</label>
        <input type="text" class="form-control" id="rm" name="rm" [(ngModel)]="rmagico"/>
      </div>
      <div class="mb-3 col-1">
        <label for="rp" class="form-label">R. Psíquica</label>
        <input type="text" class="form-control" id="rp" name="rp" [(ngModel)]="rpsiquico"/>
      </div>
      <div class="mb-3 col-1">
        <label for="presencia" class="form-label">Presencia</label>
        <input type="text" class="form-control" id="presencia" name="presencia" [(ngModel)]="presencia"/>
      </div>
      <div class="mb-3 col-1">
        <label for="agilidad" class="form-label">Agilidad</label>
        <input type="text" class="form-control" id="agilidad" name="agilidad" [(ngModel)]="agilidad"/>
      </div>
      <div class="mb-3 col-1">
        <label for="destreza" class="form-label">Destreza</label>
        <input type="text" class="form-control" id="destreza" name="destreza" [(ngModel)]="destreza"/>
      </div>
      <div class="mb-3 col-1">
        <label for="fuerza" class="form-label">Fuerza</label>
        <input type="text" class="form-control" id="fuerza" name="fuerza" [(ngModel)]="fuerza"/>
      </div>
      <div class="mb-3 col-1">
        <label for="constitucion" class="form-label">Constitución</label>
        <input type="text" class="form-control" id="constitucion" name="constitucion" [(ngModel)]="constitucion"/>
      </div>
      <div class="mb-3 col-1">
        <label for="percepcion" class="form-label">Percepción</label>
        <input type="text" class="form-control" id="percepcion" name="percepcion" [(ngModel)]="percepcion"/>
      </div>
      <div class="mb-3 col-1">
        <label for="inteligencia" class="form-label">Inteligencia</label>
        <input type="text" class="form-control" id="inteligencia" name="inteligencia" [(ngModel)]="inteligencia"/>
      </div>
      <div class="mb-3 col-1">
        <label for="poder" class="form-label">Poder</label>
        <input type="text" class="form-control" id="poder" name="poder" [(ngModel)]="poder"/>
      </div>
      <div class="mb-3 col-1">
        <label for="voluntad" class="form-label">Voluntad</label>
        <input type="text" class="form-control" id="voluntad" name="voluntad" [(ngModel)]="voluntad"/>
      </div>
      <div class="mb-3 col-1">
        <label for="movimiento" class="form-label">Movimiento</label>
        <input type="text" class="form-control" id="movimiento" name="movimiento" [(ngModel)]="movimiento"/>
      </div>
      <div class="mb-3 col-1">
        <label for="cuarta" class="form-label">Movimiento 1/4</label>
        <input type="text" class="form-control" id="cuarta" name="cuarta" [(ngModel)]="move"/>
      </div>
      <div class="mb-3 col-1 d-flex align-items-end ">
        <button type="button" class="btn btn-primary w-100">
           Info
        </button>
      </div>
    </div>
  </form>
</div>
