<div class="container-fluid">
  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle w-100"  data-bs-toggle="dropdown" aria-expanded="false">Admin</button>
    <ul class="dropdown-menu w-100">
      <li><button type="button" class="dropdown-item">Descanso 8h</button></li>
      <li><button type="button" class="dropdown-item">Descanso 4h</button></li>
      <li><button type="button" class="dropdown-item">Sin Descanso</button></li>
      <li><button type="button" class="dropdown-item">Comer</button></li>
      <li><button type="button" class="dropdown-item">Sin Comer</button></li>
      <li><button type="button" class="dropdown-item">Dificultad</button></li>
    </ul>
  </div>
