<div class="container-fluid border border-2">
    <p>Controles Admin</p>
  <div class="row">
    <div class="col-4">
      <button type="button" class="btn btn-primary m-1 ">Botton1</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary m-1">Botton1</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary m-1">Botton3</button>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <button type="button" class="btn btn-primary m-1">Botton4</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary m-1">Botton5</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-primary m-1">Botton6</button>
    </div>
  </div>

</div>
