<div class="container-fluid">
  <div class="card mb-4">
    <div class="card-header text-center">Jugadores</div>
    <div class="card-body">
      <app-player></app-player>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-header text-center">Controles</div>
    <div class="card-body">
      <div class="row">
        <div class="col-2 mt-1 mb-1">
          <app-m-general></app-m-general>
        </div>
        <div class="col-2 mt-1 mb-1">
          <app-combate></app-combate>
        </div>
        <div class="col-2 mt-1 mb-1">
          <app-resistencias></app-resistencias>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-1 mb-1">
          <app-secundarias></app-secundarias>
        </div>
      </div>
    </div>
  </div>
</div>
